@model Kazanola.ViewModels.CampaignPaymentViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>FullAction</h1>
<div class="pagetitle">
    <h1>Menu</h1>
    <hr />
    <nav>
        <ol class="breadcrumb bg-light p-2 rounded">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active">Master Offer</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <br />
                    <form asp-action="Index" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label asp-for="PageID" class="control-label"></label>
                                <div class="col-sm-8">
                                    <select asp-for="PageID" class="form-select select2"
                                            asp-items="@(new SelectList(Model.PageList, "PageID", "PageName"))">
                                        <option value="">-- اختر --</option>
                                    </select>
                                    <span asp-validation-for="PageID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label asp-for="CampaignName" class="col-sm-4 col-form-label bold"></label>
                                <div class="col-sm-8">
                                    <input autofocus asp-for="CampaignName" class="form-control" />
                                    <span asp-validation-for="CampaignName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label asp-for="Payment" class="col-sm-4 col-form-label bold"></label>
                                <div class="col-sm-8">
                                    <input autofocus asp-for="Payment" class="form-control" />
                                    <span asp-validation-for="Payment" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label asp-for="PaymentDate" class="col-sm-4 col-form-label bold"></label>
                                <div class="col-sm-8">
                                    <input type="date" autofocus asp-for="PaymentDate" class="form-control" />
                                    <span asp-validation-for="PaymentDate" class="text-danger"></span>
                                </div>
                            </div>
                         


                            <div class="col-md-6 d-flex align-items-center mb-3">

                                <div class="col-sm-8">
                                    <input type="hidden" autofocus asp-for="CampaignPaymentID" class="form-control" />
                                    <span asp-validation-for="CampaignPaymentID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group text-end mt-3" style="direction:rtl;">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                <a asp-action="IndexReset" class="btn btn-dark">Reset</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>





<section class="section ">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow-sm pt-5">
                <div class="card-body">
                    <table class="table datatable  table-hover table-striped text-center table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Page.PageName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CampaignName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Payment)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PaymentDate)
                                </th>


                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CampaignPaymentList)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Page.PageName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CampaignName)
                                    </td>
                                     <td>
                                        @Html.DisplayFor(modelItem => item.Payment)
                                    </td>
                                     <td>
                                        @Html.DisplayFor(modelItem => item.PaymentDate)
                                    </td>


                                    <td>
                                        <a title="Edit" asp-action="Index" asp-route-EditId="@item.CampaignPaymentID" class="btn btn-outline-primary btn-sm rounded-circle">
                                            <i class="ri-edit-box-fill fs-4"></i>
                                        </a>
                                        <a id="myModal" class="btn btn-outline-danger btn-sm rounded-circle btnDelete"
                                           href="#" data-bs-target="#batatat" data-bs-toggle="modal"
                                           data-path="@Url.Action("Delete", "CampaignPayment", new { id = @item.CampaignPaymentID })">
                                            <i class="ri-delete-bin-4-fill fs-4"></i>
                                        </a>
                                        @if (item.IsActive)
                                        {
                                            <a title="IsActive" asp-action="Update_Active" asp-route-id="@item.CampaignPaymentID"
                                               class="btn btn-outline-success btn-sm rounded-circle">
                                                <i class="ri-checkbox-circle-fill fs-4"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a title="IsActive" asp-action="Update_Active" asp-route-id="@item.CampaignPaymentID"
                                               class="btn btn-outline-dark btn-sm rounded-circle">
                                                <i class="ri-close-circle-fill fs-4"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="batatat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="CancelDelete()" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="ConfirmDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script>
        var pathDelete="";
        $('.btnDelete').click(function(){
            pathDelete =$(this).data("path")
        })
        function ConfirmDelete()
        {
            window.location=pathDelete;
            pathDelete="";
        }
        function CancelDelete()
        {
           pathDelete="";
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                placeholder: "-- اختر فاتورة --",
                allowClear: true
            });
        });
    </script>

}


