@model Kazanola.ViewModels.ProductDetailsVM
@{
    ViewData["Title"] = "Index";
}

<h1>FullAction</h1>
<div class="pagetitle">
    <h1>Menu</h1>
    <hr />
    <nav>
        <ol class="breadcrumb bg-light p-2 rounded">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active">Master Offer</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <br />
                    <form asp-action="Index" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label asp-for="ProductId" class="control-label"></label>
                                <div class="col-sm-8">
                                    <select asp-for="ProductId" class="form-select select2"
                                            asp-items="@(new SelectList(Model.Products, "ProductID", "ProductName"))">
                                        <option value="">-- اختر فاتورة --</option>
                                    </select>
                                    <span asp-validation-for="ProductId" class="text-danger"></span>
                                </div>
                            </div>
                           
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label asp-for="ProductDiscreption" class="control-label"></label>
                                <div class="col-sm-8">
                                    <input autofocus asp-for="ProductDiscreption" class="form-control" />
                                    <span asp-validation-for="ProductDiscreption" class="text-danger"></span>
                                </div>
                            </div>
                           
                                @if (Model != null && !string.IsNullOrEmpty(Model.ProductImage1))  
                                {
                                <div class="col-md-6 d-flex align-items-center mb-3">
                                    <label asp-for="ProductImage1" class="col-sm-4 col-form-label bold"></label>
                                    <div class="col-sm-8">
                                        <input type="hidden" autofocus asp-for="ProductImage1" class="form-control" />
                                        <img src="~/ProductImage/@Model.ProductImage1" style="max-width:50px" />
                                    </div>
                                </div>
                                }
                            
                                
                            
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label asp-for="FileImage1" class="control-label"></label>
                                <div class="col-sm-8">
                                    <input autofocus asp-for="FileImage1" class="form-control" />
                                    <span asp-validation-for="FileImage1" class="text-danger"></span>
                                </div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.ProductImage2))
                            {
                                <div class="col-md-6 d-flex align-items-center mb-3">
                                    <label asp-for="ProductImage2" class="col-sm-4 col-form-label bold"></label>
                                    <div class="col-sm-8">
                                        <input type="hidden" autofocus asp-for="ProductImage2" class="form-control" />
                                        <img src="~/ProductImage/@Model.ProductImage2" style="max-width:50px" />
                                    </div>
                                </div>
                            }
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label asp-for="FileImage2" class="control-label"></label>
                                <div class="col-sm-8">
                                    <input autofocus asp-for="FileImage2" class="form-control" />
                                    <span asp-validation-for="FileImage2" class="text-danger"></span>
                                </div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.ProductImage3))
                            {
                                <div class="col-md-6 d-flex align-items-center mb-3">
                                    <label asp-for="ProductImage3" class="col-sm-4 col-form-label bold"></label>
                                    <div class="col-sm-8">
                                        <input type="hidden" autofocus asp-for="ProductImage3" class="form-control" />
                                        <img src="~/ProductImage/@Model.ProductImage3" style="max-width:50px" />
                                    </div>
                                </div>
                            }
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label asp-for="FileImage3" class="control-label"></label>
                                <div class="col-sm-8">
                                    <input autofocus asp-for="FileImage3" class="form-control" />
                                    <span asp-validation-for="FileImage3" class="text-danger"></span>
                                </div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.ProductImage4))
                            {
                                <div class="col-md-6 d-flex align-items-center mb-3">
                                    <label asp-for="ProductImage4" class="col-sm-4 col-form-label bold"></label>
                                    <div class="col-sm-8">
                                        <input type="hidden" autofocus asp-for="ProductImage4" class="form-control" />
                                        <img src="~/ProductImage/@Model.ProductImage4" style="max-width:50px" />
                                    </div>
                                </div>
                            }
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label asp-for="FileImage4" class="control-label"></label>
                                <div class="col-sm-8">
                                    <input autofocus asp-for="FileImage4" class="form-control" />
                                    <span asp-validation-for="FileImage4" class="text-danger"></span>
                                </div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.ProductImage5))
                            {
                                <div class="col-md-6 d-flex align-items-center mb-3">
                                    <label asp-for="ProductImage5" class="col-sm-4 col-form-label bold"></label>
                                    <div class="col-sm-8">
                                        <input type="hidden" autofocus asp-for="ProductImage5" class="form-control" />
                                        <img src="~/ProductImage/@Model.ProductImage5" style="max-width:50px" />
                                    </div>
                                </div>
                            }
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label asp-for="FileImage5" class="control-label"></label>
                                <div class="col-sm-8">
                                    <input autofocus asp-for="FileImage5" class="form-control" />
                                    <span asp-validation-for="FileImage5" class="text-danger"></span>
                                </div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.ProductImage6))
                            {
                                <div class="col-md-6 d-flex align-items-center mb-3">
                                    <label asp-for="ProductImage6" class="col-sm-4 col-form-label bold"></label>
                                    <div class="col-sm-8">
                                        <input type="hidden" autofocus asp-for="ProductImage6" class="form-control" />
                                        <img src="~/ProductImage/@Model.ProductImage6" style="max-width:50px" />
                                    </div>
                                </div>
                            }
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label asp-for="FileImage6" class="control-label"></label>
                                <div class="col-sm-8">
                                    <input autofocus asp-for="FileImage6" class="form-control" />
                                    <span asp-validation-for="FileImage6" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-center mb-3">

                                <div class="col-sm-8">
                                    <input type="hidden" autofocus asp-for="ProductDetailsId" class="form-control" />
                                    <span asp-validation-for="ProductDetailsId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group text-end mt-3" style="direction:rtl;">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                <a asp-action="IndexReset" class="btn btn-dark">Reset</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>





<section class="section ">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow-sm pt-5">
                <div class="card-body">
                    <table class="table datatable  table-hover table-striped text-center table-bordered">
                        <thead class="table-dark">
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.product.ProductName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProductDiscreption)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FileImage1)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FileImage2)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FileImage3)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FileImage4)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FileImage5)
                                </th>
                                 <th>
                                    @Html.DisplayNameFor(model => model.FileImage6)
                                </th>


                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ProductDetails)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.product.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductDiscreption)
                                    </td>

                                    <td>
                                        <img src="~/ProductImage/@item.ProductImage1" style="max-width:100px" />
                                    </td>
                                    <td>
                                        <img src="~/ProductImage/@item.ProductImage2" style="max-width:100px" />
                                    </td>
                                    <td>
                                        <img src="~/ProductImage/@item.ProductImage3" style="max-width:100px" />
                                    </td>
                                    <td>
                                        <img src="~/ProductImage/@item.ProductImage4" style="max-width:100px" />
                                    </td>
                                    <td>
                                        <img src="~/ProductImage/@item.ProductImage5" style="max-width:100px" />
                                    </td>
                                    <td>
                                        <img src="~/ProductImage/@item.ProductImage6" style="max-width:100px" />
                                    </td>

                                    <td>
                                        <a title="Edit" asp-action="Index" asp-route-EditId="@item.ProductDetailsId" class="btn btn-outline-primary btn-sm rounded-circle">
                                            <i class="ri-edit-box-fill fs-4"></i>
                                        </a>
                                        <a id="myModal" class="btn btn-outline-danger btn-sm rounded-circle btnDelete"
                                           href="#" data-bs-target="#batatat" data-bs-toggle="modal"
                                           data-path="@Url.Action("Delete", "ProductDetails", new { id = @item.ProductDetailsId })">
                                            <i class="ri-delete-bin-4-fill fs-4"></i>
                                        </a>
                                        @if (item.IsActive)
                                        {
                                            <a title="IsActive" asp-action="Update_Active" asp-route-id="@item.ProductDetailsId"
                                               class="btn btn-outline-success btn-sm rounded-circle">
                                                <i class="ri-checkbox-circle-fill fs-4"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a title="IsActive" asp-action="Update_Active" asp-route-id="@item.ProductDetailsId"
                                               class="btn btn-outline-dark btn-sm rounded-circle">
                                                <i class="ri-close-circle-fill fs-4"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="batatat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="CancelDelete()" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="ConfirmDelete()">Delete</button>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script>
        var pathDelete="";
        $('.btnDelete').click(function(){
            pathDelete =$(this).data("path")
        })
        function ConfirmDelete()
        {
            window.location=pathDelete;
            pathDelete="";
        }
        function CancelDelete()
        {
           pathDelete="";
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                placeholder: "-- اختر المنتج --",
                allowClear: true
            });
        });
    </script>

}